@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700;900&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* Nav bar */

body {
    background-color: #141414;
    color: #fdfdfd;
    font-family: 'Arial', sans-serif;
}

.navbar {
    padding: 1rem 5%;
}

.navbar-dark .navbar-toggler-icon {
    background-color: #ffffff;
}

.dropdown-menu-black {
    background-color: #000000; 
    color: #ffffff; 
}

/* bottoni tv show */

.custom-select {
    background-color: black;
    color: #fdfdfd;
    border-radius: 0;
    border: 1px solid #fdfdfd;
  }
  
  .custom-select:hover {
    border: 1px solid white;
    opacity: 0.8;
    cursor: pointer;
  }
  
  .btn-show {
    padding: 0.3rem 0.8rem;
    background-color: #141414;
    color: #a0a0a0;
    border: 1px solid #282828;
  }
  
  .btn-show:hover {
    color: #fdfdfd;
    border: 1px solid #fdfdfd;
  }
  
  .custom-padding-container {
    padding-inline: 3.7rem;
  }
  
  /* serie tv */
  
  section img {
    width: 100%;
    transition: all 0.5s ease-in;
  }
  
  section img:hover {
    transform: scale(1.10);
    z-index: 1;
  }
  
  /* footer  */
  
  footer {
    max-width: 700px;
    margin-inline: auto;
  }
  
  footer .social {
    color: #a0a0a0;
  }
  
  footer .row a {
    font-size: 15px;
    text-decoration: none;
    color: #a0a0a0;
  }
  
  footer a:hover,
  footer i:hover {
    color: #fdfdfd;
  }
  
  .general-btn {
    background-color: #141414;
    color: #fdfdfd;
    border: 2px solid #282828;
    padding: 0.5rem 0.5rem;
    font-size: 15px;
  }
  
  .general-btn:hover {
    border: 1px solid #fdfdfd;
  }
  
  footer p:last-child {
    font-size: 10px;
    color: #a0a0a0;
  }